<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 注册注解的后台处理类 -->
	<context:annotation-config />
	<!-- 指明使用注解的类的包 -->
	<context:component-scan base-package="com.nfledmedia.sorm.*"
		use-default-filters="false" />

	<!-- 导入jdbc配置文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	<!-- 配置数据库连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}">
		</property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="timeBetweenEvictionRunsMillis" value="${dbcp.timeBetweenEvictionRunsMillis}" />
	</bean>

	<!-- 采用Spring的配置替换 hibernate.cfg.xml的，基于注解的配置方式 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- hibernate配置 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.connection.autocommit">true</prop>
				<prop key="hibernate.autoReconnect">true</prop>
			</props>
		</property>

		<!-- 映射资源配置 -->
		<property name="mappingLocations">
			<list>
				<value>classpath:com/nfledmedia/sorm/entity/*.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- 事务管理 -->
	<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="find*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<aop:config proxy-target-class="true">
		<!-- <aop:advisor advice-ref="txAdvice" pointcut="execution(* dao.*.*(..))"/> -->
		<aop:pointcut expression="execution(* DAO.*.*(..))" id="pointcut" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut" />
	</aop:config>

	<!-- 配置登录操作 -->
	<bean id="userAction" class="com.nfledmedia.sorm.action.UserAction"></bean>

	<bean id="userService" class="com.nfledmedia.sorm.service.UserService"></bean>
	
	<!-- 配置消息 -->
	<bean id="mesageAction" class="com.nfledmedia.sorm.action.MessageAction"></bean>

	<bean id="messageService" class="com.nfledmedia.sorm.service.MessageService"></bean>

	<!-- 配置页面跳转操作 -->
	<bean id="directionAction" class="com.nfledmedia.sorm.action.DirectionAction"></bean>

	<bean id="roleService" class="com.nfledmedia.sorm.service.RoleService"></bean>
	<bean id="resourceService" class="com.nfledmedia.sorm.service.ResourceService"></bean>
	<bean id="ledService" class="com.nfledmedia.sorm.service.LedService"></bean>
	<bean id="baseService" class="com.nfledmedia.sorm.service.BaseService"></bean>

	<!-- 配置单据保存 -->
	<bean id="renkanAction" class="com.nfledmedia.sorm.action.RenkanAction"></bean>

	<bean id="adcontractService" class="com.nfledmedia.sorm.service.AdcontractService"></bean>


	<!-- 配置业务逻辑 -->
	<bean id="yewuAction" class="com.nfledmedia.sorm.action.YewuAction"></bean>

	<bean id="yewuService" class="com.nfledmedia.sorm.service.YewuService"></bean>
	<bean id="renkanshuService" class="com.nfledmedia.sorm.service.RenkanshuService"></bean>

	<bean id="userDAO" class="com.nfledmedia.sorm.dao.UserDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="ledDAO" class="com.nfledmedia.sorm.dao.LedDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="roleDAO" class="com.nfledmedia.sorm.dao.RoleDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="resourceDAO" class="com.nfledmedia.sorm.dao.ResourceDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="industryDAO" class="com.nfledmedia.sorm.dao.IndustryDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="clienttypeDAO" class="com.nfledmedia.sorm.dao.ClienttypeDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="orderDAO" class="com.nfledmedia.sorm.dao.OrderDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="channelDAO" class="com.nfledmedia.sorm.dao.ChannelDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="adcontractDAO" class="com.nfledmedia.sorm.dao.AdcontractDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="attributeDAO" class="com.nfledmedia.sorm.dao.AttributeDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="roleResourceDAO" class="com.nfledmedia.sorm.dao.RoleResourceDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="publishdetailDAO" class="com.nfledmedia.sorm.dao.PublishdetailDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="playstrategyDAO" class="com.nfledmedia.sorm.dao.PlaystrategyDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="messageDAO" class="com.nfledmedia.sorm.dao.MessageDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>