<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- 注册注解的后台处理类 -->
    <context:annotation-config />
    <!-- 指明使用注解的类的包 -->
	<context:component-scan base-package="com.nfledmedia.sorm.service"
		use-default-filters="false" />
	<context:component-scan base-package="com.nfledmedia.sorm.dao" />
	<context:component-scan base-package="com.nfledmedia.sorm.test" />


	<!-- 导入jdbc配置文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>
	<!-- 配置数据库连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}">
		</property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="timeBetweenEvictionRunsMillis" value="${dbcp.timeBetweenEvictionRunsMillis}" />
	</bean>

	<!-- 采用Spring的配置替换 hibernate.cfg.xml的，基于注解的配置方式 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- hibernate配置 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.connection.autocommit">true</prop>
				<prop key="hibernate.autoReconnect">true</prop>
			</props>
		</property>

		<!-- 映射资源配置 -->
		<property name="mappingResources">
			<list>
				<value>
					com/nfledmedia/sorm/entity/Led.hbm.xml
				</value>
				<value>
					com/nfledmedia/sorm/entity/Role.hbm.xml
				</value>
				<value>
					com/nfledmedia/sorm/entity/Resource.hbm.xml
				</value>
				<value>
					com/nfledmedia/sorm/entity/Message.hbm.xml
				</value>
				<value>
					com/nfledmedia/sorm/entity/Industry.hbm.xml
				</value>
				<value>
					com/nfledmedia/sorm/entity/RoleResource.hbm.xml
				</value>
				<value>
					com/nfledmedia/sorm/entity/User.hbm.xml
				</value>
				<value>
					com/nfledmedia/sorm/entity/Clienttype.hbm.xml
				</value>
				<value>
					com/nfledmedia/sorm/entity/Playstrategy.hbm.xml
				</value>
				<value>
					com/nfledmedia/sorm/entity/Publishdetail.hbm.xml
				</value>
				<value>
					com/nfledmedia/sorm/entity/Attribute.hbm.xml
				</value>
				<value>
					com/nfledmedia/sorm/entity/Channel.hbm.xml
				</value>
				<value>
					com/nfledmedia/sorm/entity/Adcontract.hbm.xml
				</value>
				<value>
					com/nfledmedia/sorm/entity/Order.hbm.xml
				</value>
			</list>
		</property>
	</bean>

	<!-- 事务管理 -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="find*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<aop:config proxy-target-class="true">
		<!-- <aop:advisor advice-ref="txAdvice" pointcut="execution(* dao.*.*(..))"/> -->
		<aop:pointcut expression="execution(* DAO.*.*(..))" id="pointcut" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut" />
	</aop:config>

	<!-- 配置登录操作 -->
	<bean id="userAction" class="com.nfledmedia.sorm.action.UserAction">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	<bean id="userService" class="com.nfledmedia.sorm.service.UserService">
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
		<property name="roleDAO">
			<ref bean="RoleDAO" />
		</property>
	</bean>

	<!-- 配置页面跳转操作 -->
	<bean id="directionAction" class="com.nfledmedia.sorm.action.DirectionAction">
		<property name="roleService">
			<ref bean="roleService" />
		</property>
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="resourceService">
			<ref bean="resourceService" />
		</property>
		<property name="baseService">
			<ref bean="baseService" />
		</property>
	</bean>

	<bean id="roleService" class="com.nfledmedia.sorm.service.RoleService">
		<property name="roleDAO">
			<ref bean="RoleDAO" />
		</property>
	</bean>

	<bean id="resourceService" class="com.nfledmedia.sorm.service.ResourceService">
		<property name="resourceDAO">
			<ref bean="ResourceDAO" />
		</property>
	</bean>
	<bean id="ledService" class="com.nfledmedia.sorm.service.LedService">
		<property name="ledDAO">
			<ref bean="LedDAO" />
		</property>
	</bean>
	<bean id="baseService" class="com.nfledmedia.sorm.service.BaseService">
<!-- 		<property name="ledDAO">
			<ref bean="LedDAO" />
		</property>
		<property name="attributeDAO">
			<ref bean="AttributeDAO" />
		</property>
		<property name="clienttypeDAO">
			<ref bean="ClienttypeDAO" />
		</property>
		<property name="industryDAO">
			<ref bean="IndustryDAO" />
		</property>
		<property name="channelDAO">
			<ref bean="ChannelDAO" />
		</property>
		<property name="publishdetailDAO">
			<ref bean="PublishdetailDAO" />
		</property>
		<property name="playstrategyDAO">
			<ref bean="PlaystrategyDAO" />
		</property> -->
	</bean>

	<!-- 配置单据保存 -->
	<bean id="renkanAction" class="com.nfledmedia.sorm.action.RenkanAction">
		<property name="adcontractService">
			<ref bean="adcontractService" />
		</property>
	</bean>

	<bean id="adcontractService" class="com.nfledmedia.sorm.service.AdcontractService">
		<property name="ledDAO">
			<ref bean="LedDAO" />
		</property>
		<property name="industryDAO">
			<ref bean="IndustryDAO" />
		</property>
		<property name="attributeDAO">
			<ref bean="AttributeDAO" />
		</property>
		<property name="adcontractDAO">
			<ref bean="AdcontractDAO" />
		</property>
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
		<property name="clienttypeDAO">
			<ref bean="ClienttypeDAO" />
		</property>
		<property name="orderDAO">
			<ref bean="OrderDAO" />
		</property>
		<property name="publishdetailDAO">
			<ref bean="PublishdetailDAO" />
		</property>
	</bean>


	<!-- 配置业务逻辑 -->
	<bean id="yewuAction" class="com.nfledmedia.sorm.action.YewuAction">
		<property name="yewuService">
			<ref bean="yewuService" />
		</property>
		<property name="renkanshuService">
			<ref bean="renkanshuService" />
		</property>
		<property name="baseService">
			<ref bean="baseService" />
		</property>
		<property name="adcontractService">
			<ref bean="adcontractService" />
		</property>
	</bean>
	<bean id="yewuService" class="com.nfledmedia.sorm.service.YewuService">

		<property name="ledDAO">
			<ref bean="LedDAO" />
		</property>
		<property name="industryDAO">
			<ref bean="IndustryDAO" />
		</property>
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
		<property name="publishdetailDAO">
			<ref bean="PublishdetailDAO" />
		</property>
	</bean>
	<bean id="renkanshuService" class="com.nfledmedia.sorm.service.RenkanshuService">
		<property name="industryDAO">
			<ref bean="IndustryDAO" />
		</property>
		<property name="orderDAO">
			<ref bean="OrderDAO" />
		</property>
		<property name="publishdetailDAO">
			<ref bean="PublishdetailDAO" />
		</property>
	</bean>


	<bean id="UserDAO" class="com.nfledmedia.sorm.dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="LedDAO" class="com.nfledmedia.sorm.dao.LedDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RoleDAO" class="com.nfledmedia.sorm.dao.RoleDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ResourceDAO" class="com.nfledmedia.sorm.dao.ResourceDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="IndustryDAO" class="com.nfledmedia.sorm.dao.IndustryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ClienttypeDAO" class="com.nfledmedia.sorm.dao.ClienttypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="OrderDAO" class="com.nfledmedia.sorm.dao.OrderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ChannelDAO" class="com.nfledmedia.sorm.dao.ChannelDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdcontractDAO" class="com.nfledmedia.sorm.dao.AdcontractDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AttributeDAO" class="com.nfledmedia.sorm.dao.AttributeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RoleResourceDAO" class="com.nfledmedia.sorm.dao.RoleResourceDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PublishdetailDAO" class="com.nfledmedia.sorm.dao.PublishdetailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PlaystrategyDAO" class="com.nfledmedia.sorm.dao.PlaystrategyDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	
	<bean id="userDAO" class="com.nfledmedia.sorm.dao.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ledDAO" class="com.nfledmedia.sorm.dao.LedDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="roleDAO" class="com.nfledmedia.sorm.dao.RoleDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="resourceDAO" class="com.nfledmedia.sorm.dao.ResourceDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="industryDAO" class="com.nfledmedia.sorm.dao.IndustryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="clienttypeDAO" class="com.nfledmedia.sorm.dao.ClienttypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="orderDAO" class="com.nfledmedia.sorm.dao.OrderDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="channelDAO" class="com.nfledmedia.sorm.dao.ChannelDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="adcontractDAO" class="com.nfledmedia.sorm.dao.AdcontractDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="attributeDAO" class="com.nfledmedia.sorm.dao.AttributeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="roleResourceDAO" class="com.nfledmedia.sorm.dao.RoleResourceDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="publishdetailDAO" class="com.nfledmedia.sorm.dao.PublishdetailDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="playstrategyDAO" class="com.nfledmedia.sorm.dao.PlaystrategyDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>